@media screen and (max-width: 900px) {
  .header--container {
    height: 70px;
    flex-direction: column;
  }
  .header--container h3 {
    padding: 10px 0;
  }

  .menu--nav ul li a {
    padding: 20px;
  }

  .image-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'img-1 img-7 img-3'
      'img-4 img-5 img-6'
      'img-2 img-2 img-2';
  }

  .image-gallery a {
    height: 200px;
  }

  .img-1,
  .img-4 {
    min-height: 200px;
  }
}
@media (max-width: 796px) {
  .header--container {
    height: 70px;
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
  }

  .main .main-text h1 {
    font-size: 2em;
  }
  .main .main-text h2 {
    font-size: 1.5em;
  }

  .menu .menu__nav {
    display: flex;

    height: 100px;
  }

  .menu .menu__nav .logo {
    width: 100px;
  }

  .menu .menu__nav ul li a {
    font-size: 14px;
  }
  .products--container {
    grid-template-columns: 1fr;
  }

  .section--about-us .about-us--container {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .section--about-us .about-us--container img {
    width: 100%;
  }

  .testimonial--container {
    text-align: center;
  }
}

@media (max-width: 651px) {
  .menu--nav ul li a {
    font-size: 16px;
  }

  .section--testimonials .title {
    font-size: 1.6em;
  }

  .testimonial--container {
    grid-template-columns: 1fr 1fr;
  }

  .contact--container form {
    padding: 1.5em 1.75em;
  }

  .contact--container form input,
  .contact--container form select {
    padding: 0.65em;
  }

  .contact--container form .btn {
    width: 200px;
    height: 40px;

    font-size: 14px;
  }

  .footer--inner {
    grid-template-columns: 1fr 1fr;
  }

  .copy p {
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  .header--container {
    display: none;
  }

  /* MENU MOBILE */

  nav {
    display: none;
  }

  .one,
  .two,
  .three {
    background-color: #fff;
    height: 5px;
    width: 100%;
    margin: 6px auto;

    transition-duration: 0.3s;
  }

  .menu-toggle {
    width: 40px;
    height: 30px;
    margin-right: 20px;
  }

  /* full screen */
  .menu-section.on {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--secondary-color);

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 300ms linear;
  }

  .menu-section.on nav {
    display: block;
  }

  .menu-section.on .menu-toggle {
    position: absolute;
    right: 30px;
    top: 15px;
  }

  .menu-section.on .menu-toggle .one {
    transform: rotate(45deg) translate(7px, 7px);
  }

  .menu-section.on .menu-toggle .two {
    opacity: 0;
  }

  .menu-section.on .menu-toggle .three {
    transform: rotate(-45deg) translate(8px, -9px);
  }

  .menu-section.on nav ul {
    text-align: center;
    display: block;
  }

  .menu-section.on nav ul a {
    transition-duration: 0.5s;
    font-size: 1.3em;
    font-weight: normal;

    line-height: 1.625em;
    display: block;
  }

  /* MENU MOBILE */

  .main {
    text-align: center;
    height: 420px;
  }
  .main .main-text h1 {
    font-size: 1.75em;
  }
  .main .main-text h2 {
    margin-top: 15px;
    font-size: 22px;
  }

  .section--why-us .features--container {
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
  }
  .section--why-us .features--container img {
    width: 100%;
    height: 50px;
  }

  .image-gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      'img-1 img-7 img-3'
      'img-4 img-5 img-6'
      'img-2 img-2';
  }

  .image-gallery a {
    height: 200px;
  }

  .img-1,
  .img-4 {
    min-height: 200px;
  }
  .testimonial--container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 483px) {
  .image-gallery {
    grid-template-areas:
      'img-1 img-1 img-1'
      'img-2 img-2 img-2'
      'img-3 img-3 img-3'
      'img-4 img-4 img-4'
      'img-5 img-5 img-5'
      'img-6 img-6 img-6'
      'img-7 img-7 img-7'
      'img-8 img-8 img-8';
  }

  .image-gallery a {
    height: 200px;
  }

  .img-1,
  .img-4 {
    min-height: 200px;
  }
  .testimonial--container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 383px) {
  .newsletter-inner {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .section--newsletter .newsletter-inner input {
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .section--newsletter .newsletter-inner button {
    padding: 20px;
    border-radius: 8px;
  }

  .contact--container {
    display: flex;
    flex-direction: column-reverse;
  }

  .footer--inner {
    display: flex;
    flex-direction: column;
  }
  .footer--inner-contact aside {
    padding: 20px 0;
  }

  .footer--inner-social-media h3 {
    padding: 20px 0;
  }
  .copy {
    line-height: 40px;
  }
}
